---
layout: default
---
<article>
  <h2><a href="{{post.url}}" name="article">{{page.title}}</a></h2>

  <div class="row">
    <div class="large-12 columns">
      <h6 class="left">{{page.date | date_to_string}}</h6>
      <ul class="tags right">
        {% for tag in page.tags %}
          <li><a href="/tag/{{tag}}.html">{{tag}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  {{ content | mark_excerpt }}

  <br /> <!-- lol, br :D -->
  {% if site.comments and (page.comments or page.comments == null) %}
    {% include comments.html %}
  {% endif %}

</article>
