---
layout: default
---

<article class="post">
  <div class="content">
    <div class="title">
      <div class="date">{{page.date | date_to_string}}<br />—</div>
      <h1><a href="{{post.url}}">{{page.title}}</a></h1>
    </div>
    <div class="body">
      {{ content }}
    </div>
    <div class="meta">
      <div class="info">
        <span>
          {% for tag in page.tags %}
            <a href="/tag/{{tag}}.html">{{tag}}</a>
          {% endfor %}
        </span>
      </div>
    </div>
    {% if site.comments and (page.comments or page.comments == null) %}
      {% include comments.html %}
    {% endif %}
  </div>
</article>

